{% extends 'users/base.html' %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="card shadow-lg border-0 rounded-lg mt-5">
    <div class="card-header"><h3 class="text-center font-weight-light my-4">Tizimga kirish</h3>
    </div>
    <div class="card-body">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label class="small mb-1" for="{{ form.username.id_for_label }}">Foydalanuvchi nomi</label>
                {{ form.username }}
            </div>

            <div class="form-group">
                <label class="small mb-1" for="{{ form.password.id_for_label }}">Foydalanuvchi nomi</label>
                {{ form.password }}
            </div>
            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                <a class="small" href="#">Parolni unutdingizmi?</a>
                <input class="btn btn-primary" type="submit" value="Tizimga kirish">
            </div>
        </form>
    </div>
    <div class="card-footer text-center">
        <div class="small"><a href="{% url 'register' %}">Akkaunt ochmoqchimisiz? Ro'yxatdan o'tish!</a></div>
    </div>
</div>
{% endblock %}
