{% if baskets %}

<div class="col-lg-5">
    <h4 class="mt-3 mb-3 d-flex justify-content-between align-items-center mb-3">
        Savat <span id="total_quantity" class="badge badge-secondary badge-pill">{{ total_quantity }}</span>
    </h4>

    <div class="card mb-3">
        <div class="card-footer">
            <p class="float-left">Jami summa:</p>
            <span id="total_price" class="float-right">{{ total_price }}</span>
        </div>
    </div>

    {% for basket in baskets %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ basket.product.name }}</h5>
            <p class="card-text">{{ basket.product.short_description }}</p>
            <strong>1 donasi {{ basket.product.price }} so'm</strong>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between lh-condensed bg-light">

                <span class="text-muted">
                    <a class="minus-cart btn" pid={{basket.product.id}}
                       style="text-decoration: none; color: gray; padding-right: 20px;">
                        <i class="fa fa-minus"></i>
                    </a>

                    <span id="quantity">{{ basket.quantity }}</span>

                    <a class="plus-cart btn" pid={{basket.product.id}}
                       style="text-decoration: none; color: gray; padding-left: 20px;">
                        <i class="fa fa-plus"></i>
                    </a>
                    <a class="remove-cart" pid={{basket.product.id}}
                       style="padding-left: 40px; text-decoration: none; color: gray;">
                        <i class="far fa-trash-alt"></i>
                    </a>
                </span>
            </li>
        </ul>
    </div>
    {% endfor %}

    <div style="text-align: center">
        <a href="{% url 'thanks_page' %}">
            <button type="submit" class="btn btn-success btn-lg float-right">Buyurtma berish</button>
        </a>
    </div>
</div>

{% else %}
<div class="col-lg-5">
    <div class="mt-3 mb-3 text-center">
        <h4>Savat bo'sh</h4>
    </div>
</div>
{% endif %}