body {
    padding-top: 56px;
}
a{
    color: #008819; 
}
a:hover{
    color: #01b50d; 
}
.page-link{
    color: #01b50d; 
}
.page-link:hover{
    color: #008819; 
}
.page-item.active .page-link{
    background: #28a745;
}
.list-group-item{    
    text-transform: uppercase;
}

.search{
    width: 100%;
    margin: 0 0 26px;
    border: 1px solid #c0c0c0;
    border-radius: 0.25rem;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 18px
}